      <div id="ProgressBarContainer" style="display: none;">
        <div>
          <span id="ProgressMessage"></span>
          <span id="ProgressBarText"></span>
        </div>
        <div id="ProgressBarShell">
          <div class="prog-border">
            <div id="prog-percentage" style="width: 0%;" class="prog-bar"></div>
          </div>
        </div>
      </div>
      <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value="<%= @uuid %>"/>